streamlit==1.39.0
opencv-python-headless==4.10.0.84

# MediaPipe требует колёс под Py<=3.12
mediapipe==0.10.14

# Совместимые пины под mediapipe и openCV
numpy==1.26.4
scipy==1.11.4
matplotlib==3.8.4
protobuf==3.20.3

# Остальное по проекту
imageio[ffmpeg]==2.34.1
fastdtw==0.3.4
pillow==10.3.0
