streamlit==1.39.0

# MediaPipe (тянет совместимый OpenCV)
mediapipe==0.10.14
protobuf>=4.25.3,<5

# Научный стек (совместим с mediapipe 0.10.x и Py3.12)
numpy==1.26.4
scipy==1.11.4
matplotlib==3.8.4
pillow==10.3.0

# Остальное по проекту
imageio[ffmpeg]==2.34.1
fastdtw==0.3.4
